services:
  nginx:
    image: nginx:stable
    ports:
      - "8443:8443"
      - "443:443"
    volumes:
      - ./Nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./Nginx/certs:/etc/nginx/certs
      - ./Frontend:/usr/share/nginx/html/static:ro
    depends_on:
      - keycloak
      - api-gateway
      - messenger
    networks:
      - hormigas-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.0
    environment:
      KEYCLOAK_ADMIN: ant
      KEYCLOAK_ADMIN_PASSWORD: ant
    volumes:
      - ./Keycloak/realm:/opt/keycloak/data/import
      - ./Keycloak/themes:/opt/keycloak/themes/my-theme
    command:
      - start-dev
      - --import-realm
      - --proxy=passthrough
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/realms/master"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - hormigas-net
    ports: 
      - 8083:8080

  master-service:
    build: ./MasterService
    networks:
      - hormigas-net

  client-service:
    build: ./ClientService
    networks:
      - hormigas-net

  messenger:
    build: ./Messenger
    networks:
      - hormigas-net
    depends_on:
      - postgres
    ports:
    - "9010:9010"
    environment:
     JAVA_OPTIONS: >
      -Dcom.sun.management.jmxremote
      -Dcom.sun.management.jmxremote.ssl=false
      -Dcom.sun.management.jmxremote.authenticate=false
      -Dcom.sun.management.jmxremote.port=9010
      -Dcom.sun.management.jmxremote.rmi.port=9010
      -Dcom.sun.management.jmxremote.local.only=false
      -Djava.rmi.server.hostname=192.168.1.141


  api-gateway:
    build: ./ApiGateway
    depends_on:
      - keycloak
      - client-service
      - master-service
    networks:
      - hormigas-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./Prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - hormigas-net
    depends_on:
      - api-gateway

  postgres:
    image: postgres:17
    container_name: hormigas-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ant
      POSTGRES_PASSWORD: ant
      POSTGRES_DB: hormigasdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p 6432"]
      interval: 5s
      timeout: 5s
      retries: 3
    volumes:
      - ./Postgres:/var/lib/postgresql/data
    networks:
      - hormigas-net

  redis:
    image: redis:7
    container_name: hormigas-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./Redis/data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - hormigas-net

  redis-insite:
    image: redis/redisinsight:latest
    container_name: redis-insite
    environment: 
      RRI_REDIS_HOS: redis
    ports:
      - "5540:5540"
    depends_on:
      - redis
    networks:
      - hormigas-net


networks:
   hormigas-net:
     driver: bridge
