server:
  port: 8080

management:
  metrics:
    enable:
      http.client.requests.active: false

  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  prometheus:
    metrics:
      export:
        enabled: true

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://nginx:8443/realms/hormigas

  cloud:
    gateway:
      metrics:
        enabled: true
      routes:
        - id: masters-service
          uri: lb://masters
          predicates:
            - Path=/master/**
          filters:
            - RewritePath=/master/(?<segment>.*),/$\{segment}
            - name: JwtRole
              args:
                role: master
            - name: CircuitBreaker
              args:
                name: internalCB
                fallbackUri: forward:/fallback

        - id: clients-service
          uri: lb://clients
          predicates:
            - Path=/client/**
          filters:
            - RewritePath=/client/(?<segment>.*),/$\{segment}
            - name: JwtRole
              args:
                role: client
            - name: CircuitBreaker
              args:
                name: internalCB
                fallbackUri: forward:/fallback

        - id: messenger-api
          uri: lb://chat-apis
          predicates:
            - Path=/chat/**
          filters:
            - RewritePath=/chat/(?<segment>.*),/$\{segment}
            - name: CircuitBreaker
              args:
                name: internalCB
                fallbackUri: forward:/fallback

        - id: messenger-service
          uri: lb:ws://messengers
          predicates:
            - Path=/ws-messenger/**
          filters:
            - RewritePath=/ws-messenger/(?<segment>.*),/$\{segment}
            - PreserveHostHeader
            - name: CircuitBreaker
              args:
                name: internalCB
                fallbackUri: forward:/fallback

    loadbalancer:
      cache:
        ttl: 60s
        capacity: 100
        caffeine:
          spec: maximumSize=100,expireAfterWrite=1h
        enabled: true
      configurations: health-check
      health-check:
        interval: 15s
        repeat-health-check: true
        path:
          masters: /q/health
          clients: /q/health
          messengers: /q/health
          chat-apis: /q/health
      stats:
        micrometer:
          enabled: true

    discovery:
      client:
        simple:
          instances:
            masters:
              - instanceId: masters1
                serviceId: masters
                host: master-service
                port: 8081
#              - instanceId: masters2
#                serviceId: masters
#                host: master-service
#                port: 8087
            clients:
              - instanceId: client1
                serviceId: clients
                host: client-service
                port: 8082
#              - instanceId: client2
#                serviceId: clients
#                host: client-service
#                port: 8089
            chat-apis:
              - instanceId: chat-api1
                serviceId: chat-apis
                host: messenger
                port: 8080
            messengers:
              - instanceId: messenger1
                serviceId: messengers
                host: messenger
                port: 8080


resilience4j:
  circuitbreaker:
    instances:
      internalCB:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        automaticTransitionFromOpenToHalfOpenEnabled: true


logging:
  level:
    org.springframework.cloud.gateway: WARN
    org.springframework.cloud.gateway.filter: WARN
    reactor.netty.http.client: WARN
    org.springframework.cloud.loadbalancer: WARN
    org.hormigas: INFO
