"%prod":
  quarkus:
    websockets-next:
      server:
        supported-subprotocols: bearer-token-carrier
        propagate-subprotocol-headers: true
        max-message-size: 1024
        metrics:
          enabled: true
        auto-ping-interval: 10s

    datasource:
      db-kind: postgresql
      username: ant
      password: ant
      reactive:
        url: postgres://postgres/hormigasdb

    hibernate-orm:
      database:
        generation: update
      sql-load-script: no-file

    log:
      level: WARN
      category:
        "org.hibernate":
          level: WARN
          min-level: WARN

    micrometer:
      enabled: true
      export:
        prometheus:
          enabled: true
          path: /q/metrics

  security:
    keycloak:
      cert:
        url: http://keycloak:8080/realms/hormigas/protocol/openid-connect/certs
      request:
        rate-limit: 1000


  processing:
    messages:
      outbox:
        batch-size: 1300
        sending-queue-size: 6000
        ack-queue-size: 4000
      scheduler:
        time-interval-ms: "1000ms"
      feedback:
        base-interval-ms: 1000
        adjustment-factor: 0.9
        recovery-factor: 1.05
      channel-retry:
        max-backoff-ms: 300
        min-backoff-ms: 1000
        max-retries: 3
        retry: true

