.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.title {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: #343a40;
}

.ant-image {
  width: 100px;
  height: 100px;
  margin-bottom: 0.8rem;
}

.welcome {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #495057;
}

.logout-button {
  background-color: #198754;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #157347;
}

.loading {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5rem;
}

.response{
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0.6rem;
  background-color: aqua;
}
